page-about {
    ion-content{
        background-image: url("../../assets/imgs/screenshot_1.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        p{
            font-size: 18px;
        }
        ion-label{
            font-size: 18px;
           
        }
    }
    ion-title{
        text-align: center;
    }
}
