page-contact {
    ion-content{
        background-image: url("../../assets/imgs/screenshot_1.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        button{
            text-align: center;
            top: 50%;
            left: 30%;
        }
    }
    ion-title{
        text-align: center;
    }
    p{
        font-size: 18px;
        color: darkblue;
    }
    h1{
        font-size: 18px;
       color: blue;
    }
}
